.claude/*
.DS_Store
contents.xcworkspacedata
UserInterfaceState.xcuserstate
xcuserdata/*
xcuserdata/system-backup.xcuserdatad/*
xcuserdata/system-backup.xcuserdatad/UserInterfaceState.xcuserstate
xcuserdata/system-backup.xcuserdatad/WorkspaceSettings.xcsettings
xcuserdata/system-backup.xcuserdatad/WorkspaceSettings.xcsettings